body {
	background: linear-gradient(#ffffff, #6c6c6c);
	height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
}
